*{
    box-sizing: border-box;
}
div,form{
    /* border: 1px blue solid; */
}
body{
  
    font-family: Arial, Helvetica, sans-serif;
    width: 98.7.5vw;
    /* height: 100vh; */
    background-size: 100% 100%;
    
}
:root {
    --GREEN: #95CD41;
    --DEEPGREEN:#1fae51;
    --RED: #DD4A48;
    --WHITE: white;
    --BROWN:brown;
    --PRIMARY:#0275d8;
}
h1,h2,h3,h4,h5,h6{
    color: var(--BROWN);
  }
label{
    display: block;
    margin: 10px 0 0 0;
    
}
h2, h1{
    text-align: center;
    color: var(--RED);
}


input{
    width: 290px;
    height: 25px;
    border-radius: 10px;
    border: none;
    font-size: 18px;
    padding-left: 10px;
    color:var(--RED) ;
    border: 1px solid var(--RED) ;
}
input[type="submit"]{
    display: block;
    width: 100%;
    height: 30px;
    margin: 10px 0 0 0;
    color: aliceblue;
    background-color: var(--RED);
    margin: 20px auto;
    cursor: pointer;
}
input[type="submit"]:hover{
    background-color: var(--GREEN);
    border: none;
    
}

input[type="radio"]{
    width: auto;
}
.email_Input {  
    display: block;
}
.gender{
    display: block;
}

.container{
   
    
    
    border: 1px solid brown;
    margin: auto; 

}
.container_form h2{

}
.container_form{
    padding: 10px;
    position: relative;
    width: 400px;
    /* height: 100%; */
    background-color: whitesmoke;
     display: flex;
   
    justify-content: center;
    align-items: center; 
    flex-direction: column;
    /* padding-bottom: 40px; */
    padding-top: 20px;
    /* border-radius: 0 30px 30px 0; */
    
    
}

textarea{

    width: 290px;
    border-radius: 5px;
    border-color: var(--RED);
    
}



